<nav class="mb-6 sticky top-0">
  <ul class="flex">
    <li class="mr-6">
      <a
        class="
          bg-blue-500
          hover:bg-blue-700
          text-white
          font-bold
          py-2
          px-4
          rounded
          focus:outline-none focus:shadow-outline
        "
        href="/"
        >+ Producto</a
      >
    </li>
    <li class="mr-6">
      <a
        class="
          bg-blue-500
          hover:bg-blue-700
          text-white
          font-bold
          py-2
          px-4
          rounded
          focus:outline-none focus:shadow-outline
        "
        href="/productos"
        >Lista de productos</a
      >
    </li>
  </ul>
</nav>
